<div class="container text-center">
    <h1 class="display-1">404</h1>
    <h2 class="display-4">Page Not Found</h2>
    <p class="lead">These are not the droids you're looking for</p>
    <img src="https://i.giphy.com/l2JJKs3I69qfaQleE.webp" alt="Obi wan" class="img-fluid">
</div>
